<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fi</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="https://miro.medium.com/v2/resize:fit:400/1*1qCzl41x8K7_MHzC5An7hA.png" type="image/x-icon">
</head>
<body class="bg-gray-100 text-gray-900">
    <!-- Main Content -->
        {% block content %}
        
        {% endblock %}
</body>
</html>
